<div>
    <div class="card">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card" *ngFor="let bank of banksArray;index as i" #group>
                <div class="card-header" role="tab" id="heading{{i}}">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" aria-controls="collapse">
                         Banco: {{bank.namebank}}
                        </a>
                    </h5>
                </div>

                <div id="collapse{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading">

                    <div class="card-block">

                        <form #bankForm="ngForm">
                            <div class="row col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label> Banco:</label>
                                    <select #selectElem class="form-control" (change)="change(selectElem.value)" name="bank" required>
                                            <option [value]='this.idbank' [disabled]="true" selected>Seleccione un banco</option>
                                            <option *ngFor='let banks of availableBanks' [value]='banks.id'>
                                                {{banks.name}}
                                            </option>
                                        </select>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Tipo de Cuenta:</label>
                                    <input id="accounttype" name="accounttype" class="form-control " [(ngModel)]="bank.accounttype" type="text" #accounttype="ngModel" required>
                                    <div [hidden]="accounttype.valid || accounttype.pristine">
                                        <span class="text-danger">El tipo de cuenta bancaria no es un campo valido</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Número de Cuenta:</label>
                                    <input id="accountnumber" name="accountnumber" class="form-control " [(ngModel)]="bank.accountnumber" pattern="{{accountnumberPattern}}" type="number" #accountnumber="ngModel" required>
                                    <div [hidden]="accountnumber.valid || accountnumber.pristine">
                                        <span class="text-danger">El número de cuenta bancaria no es un campo valido</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Clabe Bancaria:</label>
                                    <input id="clabe" name="clabe" class="form-control " [(ngModel)]="bank.clabe" type="number" pattern="{{clabePattern}}" #clabe="ngModel" required>
                                    <div [hidden]="clabe.valid || clabe.pristine">
                                        <span class="text-danger">La clabe bancaria no es un campo válido</span>
                                    </div>
                                </div>

                                <div>
                                    <button class="btn btn-default" (click)="onUpdate(bank)" [disabled]="!bankForm.valid || this.idbank === 0" type="button">
                                                                <i class="material-icons ">Actualizar Banco</i>
                                                            </button>
                                    <button class="btn btn-default" (click)="onDelete(bank)" [disabled]="!bankForm.valid" type="button">
                                                              <i class="material-icons ">Eliminar Banco</i>
                                                          </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>