<div class="app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-4">
                        <h1>Cambio de Contraseña</h1>
                        <p class="text-muted">Actualización de Contraseña</p>
                        <form role="form" (submit)="change($event, oldpassword.value, password.value, passwordconfirmation.value)">
                            <div class="input-group mb-3">
                                <span class="input-group-addon">@</span>
                                <input type="password" #oldpassword class="form-control" placeholder="Contraseña actual">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" #password class="form-control" placeholder="Nueva Contraseña">
                            </div>

                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" #passwordconfirmation class="form-control" placeholder="Confirma Contraseña">
                            </div>

                            <button type="" class="btn btn-block btn-success">Cambiar Contraseña</button>
                        </form>

                        <a href="#/dashboard" class="btn btn-block">Volver a Inicio </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>