<div>
    <tabset>
        
        <tab title="Solicitud">
            <span *tabHeading>Solicitud</span>
            <app-registry-app [inputAppData]="data.applications" [inputAppId]="appId" (appDataRefresher)="refreshAppData($event)"></app-registry-app>

        </tab>

        <tab [disabled]="appId==null" title="Avales">

            <span *tabHeading>Avales</span>
            <div>
                <p>
                    <app-aval [inputAvalData]="data.avals" [inputAppId]="appId" (avalDataRefresher)="refreshAvalData($event)"></app-aval>
                </p>
            </div>
        </tab>

        <tab [disabled]="appId==null" title="Archivos">
            <span *tabHeading>Archivos</span>
            <div>
                <p>
                    <app-files [inputFileData]="data.files" [appId]="appId" [fileTypes]="fileTypes"></app-files>
                </p>
            </div>

        </tab>
    </tabset>
</div>