<tabset>
    <tab title="Documentacion Legal">
        <app-addfile [fileDescriptor]="'Documentacion Legal'" [fileArray]='this.docArray' (fileEmitter)="getFile($event,'Documentacion Legal')"></app-addfile>
    </tab>
    <tab title="Acta Asamblea">
        <app-addfile [fileDescriptor]="'RFC'" [fileArray]='this.rfcArray' (fileEmitter)="getFile($event,'RFC')"></app-addfile>
    </tab>
    <tab title="Extras">
        <app-addfile [fileDescriptor]="'Acta de Nacimiento'" [fileArray]='this.actaArray' (fileEmitter)="getFile($event,'Acta de Nacimiento')"></app-addfile>
    </tab>
</tabset>