<tabset>
    <tab title="Comprobante de Domicilio">
        <span *tabHeading>Comprobante de Domicilio</span>
        <div>
            <app-file-cd></app-file-cd>
        </div>
    </tab>

    <tab title="Estados de Cuenta">
        <span *tabHeading>Estados de Cuenta</span>
        <div>
            <app-file-ec></app-file-ec>
        </div>
    </tab>

    <tab title="RFC">
        <span *tabHeading>RFC</span>
        <div>
            <app-file-rfc></app-file-rfc>
        </div>
    </tab>

</tabset>