<tabset>
    <tab title="Documentacion Legal">
        <span *tabHeading>Documentacion Legal</span>
        <div>
            <app-file-dl></app-file-dl>
        </div>
    </tab>

    <tab title="RFC">
        <span *tabHeading>RFC</span>
        <div>
            <app-file-rfc></app-file-rfc>
        </div>
    </tab>

    <tab title="Acta de Nacimiento">
        <span *tabHeading>Acta de Nacimiento</span>
        <div>
            <app-file-an></app-file-an>
        </div>
    </tab>


</tabset>