<tabset>
    <tab title='Lista de avales'>
        <span *tabHeading>Avales</span>
        <div class="card" *ngFor="let aval of inputAvalData;index as i" #group>
            <div class="card-header" role="tab" id="heading{{i}}" (click)="openAval(aval)"style="cursor:pointer">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse">
                        Nombre del aval: {{aval.typeguarantee == 'Fisica' ? aval.name + ' ' + aval.lastname : aval.business_name}}
                    </a>
                </h5>
            </div>
        </div>
    </tab>
    <tab #registerAvalTab title='Registrar aval' >
        <span *tabHeading (click)="prepareModel()" #registerTabSpan>Registrar un aval</span>

        <div *ngIf="dataFinishedLoading;else loadingScreen">
            <form (ngSubmit)="onSubmit()" #avalForm="ngForm">
                <div class=" col-sm-12">
                    <div *ngIf="model.id==null" class="row">
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                Seleccione un tipo de Cliente <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a style="cursor:pointer" (click)="assignTypeGuarantee('Fisica')" class="dropdown-item">Fisica</a></li>
                                <li role="menuitem"><a style="cursor:pointer" (click)="assignTypeGuarantee('Moral')" class="dropdown-item">Moral</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row" *ngIf="typeGuarantee">
                        <div *ngIf="typeGuarantee!='Moral';else physicalType" class="row col-sm-12" style="margin:0px;padding:0px;">
                            <div class="form-group col-sm-6">
                                <label>Nombre:</label>
                                <input id="name" name="name" class="form-control " [(ngModel)]="model.name" type="text" required>
                            </div>
            
                            <div class="form-group col-sm-6">
                                <label>Apellido:</label>
                                <input id="lastname" name="lastname" class="form-control" [(ngModel)]="model.lastname" type="text" required>
                            </div>
                        </div>
    
                        <div class="form-group col-sm-6">
                                <label>RFC:</label>
                                <input id="rfc" name="rfc" class="form-control" [(ngModel)]="model.rfc" pattern="{{typeGuarantee=='Moral'?regex.MoralRFCPattern:regex.PhysicalRFCPattern}}" type="text" required>
                            </div>
                        <ng-template #physicalType>
                            <div class="form-group col-sm-12">
                                <label>Nombre de Empresa:</label>
                                <input id="businessname" name="businessname" class="form-control " [(ngModel)]="model.business_name" type="text" required>
                            </div>
                        </ng-template>
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>CURP:</label>
                            <input id="curp" name="curp" class="form-control " [(ngModel)]="model.curp" pattern="{{regex.CURPPattern}}" type="text" required>
                        </div>
        
                        <div class="form-group col-sm-6">
                            <label *ngIf="typeGuarantee=='Moral'">Fecha de constitucion:</label>
                            <label *ngIf="typeGuarantee!='Moral'">Fecha de nacimiento:</label>
                            <input id="birthdate" name="birthdate" class="form-control " [(ngModel)]="model.birthday" type="date" required>
                        </div>
        
                        <div class="form-group col-sm-6">
                            <label>Pais:</label>
                            <input id="country" name="country" class="form-control " [(ngModel)]="model.country" type="text" required>
                        </div>
        
                        <div class="form-group col-sm-6">
                            <label>Nacionalidad:</label>
                            <input id="nationality" name="nationality" class="form-control " [(ngModel)]="model.nacionality" type="text" required>
                        </div>
        
                        <div class="form-group col-sm-6">
                            <label>Correo electronico:</label>
                            <input id="email" name="email" class="form-control " [(ngModel)]="model.email" pattern="{{regex.emailPattern}}" type="email" required>
                        </div>
        
                        <div class="form-group col-sm-6">
                            <label>FIEL:</label>
                            <input id="fiel" name="fiel" class="form-control " [(ngModel)]="model.fiel" pattern="{{regex.FIELPattern}}" type="number" required>
                        </div>
        
        
                        <div class="form-group col-sm-6">
                            <label>Direccion:</label>
                            <input id="address" name="address" class="form-control " [(ngModel)]="model.address" type="text" required>
                        </div>
        
                        <div class="form-group col-sm-6">
                            <label>Numero de Telefono:</label>
                            <input id="phone" name="phone" class="form-control " [(ngModel)]="model.phone" type="number" required>
                        </div>
        
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>Estado Civil:</label>
                            <input id="maritalstatus" name="maritalstatus" class="form-control " [(ngModel)]="model.maritalstatus" type="text" required>
                        </div>
                        
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>Regimen Civil:</label>
                            <input id="regimen" name="regimen" class="form-control " [(ngModel)]="model.regimen" type="text" required>
                        </div>
        
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>Relacion:</label>
                            <input id="relationship" name="relationship" class="form-control " [(ngModel)]="model.relationship" type="text" required>
                        </div>
        
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>Lugar de trabajo:</label>
                            <input id="companyjob" name="companyjob" class="form-control " [(ngModel)]="model.companyjob" type="text" required>
                        </div>
        
                        <div class="form-group col-sm-6" *ngIf="typeGuarantee!='Moral'">
                            <label>Telefono de trabajo:</label>
                            <input id="phonejob" name="phonejob" class="form-control " [(ngModel)]="model.phonejob" type="number" required>
                        </div>
        
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>Posicion:</label>
                            <input id="occupation" name="occupation" class="form-control " [(ngModel)]="model.occupation" type="text" required>
                        </div>
                        <div *ngIf="typeGuarantee!='Moral'" class="form-group col-sm-6">
                            <label>Fecha de Ingreso:</label>
                            <input id="join_date" name="join_date" class="form-control " [(ngModel)]="model.oldwork" type="date" required>
                        </div>
                        <div *ngIf="model.id==null;else updateButton">
                            <button class="btn btn-default" (click)="method='POST'" [disabled]="!avalForm.valid||submitted" type="submit">
                                <i class="material-icons ">Agregar Aval</i>
                            </button>
                        </div>
                        <ng-template #updateButton>
                            <button class="btn btn-default" (click)="method='PUT'" [disabled]="!avalForm.valid" type="submit">
                                <i class="material-icons ">Actualizar Aval</i>
                            </button>
                        </ng-template>
                    </div>
                    
                </div>
            </form>
        </div>
        <ng-template #loadingScreen>
            <img src="assets/img/dualLoading.svg">
        </ng-template>

    </tab>
</tabset>