<hr>
<div class="card-header" role="tab" id="headingM">
    <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseM" aria-expanded="true" aria-controls="collapse">
          Registrar Representante
        </a>
    </h5>
</div>
<hr>
<div id="collapseM" class="collapse" role="tabpanel" aria-labelledby="heading">

    <div class="card-block">

        <form (ngSubmit)="onSubmit()" #managersForm="ngForm">
            <div class="form-group col-sm-6">
                <label for="name">Nombre(s):</label>
                <input id="name" name="name" class="form-control" [(ngModel)]="managerModel.name" type="text" #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine">
                    <span class="text-danger">El nombre no es valido</span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="lastname">Apellido(s):</label>
                <input class="form-control" [(ngModel)]="managerModel.lastname" name="lastname" type="text" #lastname="ngModel" required>
                <div [hidden]="lastname.valid || lastname.pristine">
                    <span class="text-danger">El apellido no es valido</span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="rfc">RFC:</label>
                <input class="form-control" [(ngModel)]="managerModel.rfc" name="rfc" type="text" #rfc="ngModel" required>
                <div [hidden]="rfc.valid || rfc.pristine">
                    <span class="text-danger">El RFC no es valido</span>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label>Telefono:</label>
                <input class="form-control " [(ngModel)]="managerModel.phone" name="phone" type="number" #phone="ngModel" required>
                <div [hidden]="phone.valid || phone.pristine">
                    <span class="text-danger">El apellido no es valido</span>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="input">Subir Identificacion:</label>
                <input name="fileInput" class="form-control" type="file" ngModel (change)="getFiles($event)" />
            </div>

            <div>
                <button class="btn btn-default" [disabled]="!managersForm.valid" type="submit">
              <i class="material-icons">Agregar Representante</i>
          </button>
            </div>

        </form>
    </div>
</div>
<h5 class="text-center">Listado de Representantes.</h5>
<hr>
<div *ngIf="dataFinishedLoading">
    <app-managers-section [managerArray]="inputManagerArray"></app-managers-section>
</div>