<form (ngSubmit)="onSubmit()" #managersForm="ngForm">
    <div class="row col-sm-12">
        <div class="form-group col-sm-6">
            <label for="name">Nombre(s):</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="model.name" type="text" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="lastname">Apellido(s):</label>
            <input class="form-control" [(ngModel)]="model.lastname" name="lastname" type="text" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="rfc">RFC:</label>
            <input class="form-control" [(ngModel)]="model.rfc" name="rfc" type="text" required>
        </div>

        <div class="form-group col-sm-6">
            <label>Telefono:</label>
            <input class="form-control " [(ngModel)]="model.phone" name="phone" type="number" required>
        </div>

        <div class="form-group col-sm-6">
            <label for="input">Identificacion:</label>
            <input name="input" class="form-control" type="file" [(ngModel)]="model.identification" name="identification" /></div>
    </div>
    <div>
        <button class="btn btn-default" ng-click="ctrl.AddAccount() " ng-disabled="bancos.$invalid ">
                                            <i class="material-icons ">Agregar Accionista</i>
                                        </button>
    </div>
</form>