<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="panel-group">

                <div class="panel panel-primary">


                    <main>
                        <h2>Creditos</h2>

                        <section>
                            <input id="toggle" type="checkbox">
                            <label for="toggle">Mostrar Credito 1</label>
                            <div id="expand">
                                Hola mi nombre es Oscar
                            </div>
                        </section>
                        <section>
                            <h3>Other content</h3>
                        </section>
                    </main>

                </div>
            </div>
        </div>
    </div>
</div>