<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="panel panel-default widget-shadow">
                <div class="panel-heading text-center">
                    <h2>Creditos</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div [hidden]="menu!='show'" class="card">
                            <div class="card-header">

                                <i class="fa fa-clipboard"></i> Creditos de cliente: {{application.businessname}}
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Proyecto</th>
                                            <th>Monto Solicitado</th>
                                            <th>Fecha Solicitud</th>
                                            <th>Opciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td [hidden]="application.status!='Autorizado'">
                                                <span class="badge badge-success">Autorizado</span>
                                            </td>
                                            <td [hidden]="application.status!='Rechazado'">
                                                <span class="badge badge-default">Rechazado</span>
                                            </td>
                                            <td [hidden]="application.status!='Pendiente'">
                                                <span class="badge badge-warning">Pendiente</span>
                                            </td>
                                            <td>{{application.projectname}}</td>
                                            <td>{{application.currency == null? '$ '+application.amountrequest : application.currency+' '+ application.amountrequest}}</td>
                                            <td>{{application.applicationdate.split("-")[2]+"/"+application.applicationdate.split("-")[1]+"/"+application.applicationdate.split("-")[0]}}</td>
                                            <td>
                                                <div class=" btn-group-sm">
                                                    <a (click)="showApplication(application.id)" data-toggle="modal" data-target="#Update_Application_modal" class="btn btn-success"><i class="icon-pencil"></i></a>
                                                    <a (click)="approveCredit(application.id)" class="btn btn-warning"><i class="icon-book-open"></i></a>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <!--
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                  !-->
                                </nav>
                            </div>
                        </div>


                        <div [hidden]="menu!='create'" id="Nueva_Solicitud_modal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h5 class="modal-title">Nueva Solicitud</h5>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="nav nav-pills" style="margin-bottom: 5px;">
                                            <ng-template ngFor let-tab [ngForOf]="tabs">
                                                <a>{{tab.title}}</a>
                                            </ng-template>
                                            <!--
                        <li *ngFor="let tab of tabs" *ngIf="$index<3" ng-class="{active:isActiveTab(tab.url)}"></li>
                        !-->
                                        </ul>
                                        <form [hidden]="!isActiveTab('solicitud.tpl.html')" class="nga-default nga-stagger nga-slide-up fixImg" name="DataBasica_add">
                                            <table class="table table-bordered" style="padding-bottom:0px;margin-bottom: 2px;">
                                                <tr>
                                                    <th class="text-center">Cliente:</th>
                                                    <td class="text-center" colspan="3">
                                                        <div class="form-group fixImg">
                                                            <select ng-options="option.businessname for option in ModalNuevoSolicitud.Clients track by option.id" ng-model="ModalNuevoSolicitud.selectClient" class="form-control">
                              </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Monto solicitado:</th>
                                                    <td>
                                                        <div class="form-group fixImg">
                                                            <input type="text" class="form-control" placeholder="Monto Solicitado" ng-model="ModalNuevoSolicitud.amountrequest" format="number" required>
                                                        </div>
                                                    </td>
                                                    <th class="text-center">Fecha de Solicitud:</th>
                                                    <td>
                                                        <div class="form-group fixImg">
                                                            <input type="Date" class="form-control" id="txt_Apellido_Empleado" placeholder="Fecha de Solicitud" ng-model="ModalNuevoSolicitud.applicationdate" required>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Lugar:</th>
                                                    <td>
                                                        <div class="form-group fixImg">
                                                            <input type="text" class="form-control" placeholder="Lugar de solicitud" ng-model="ModalNuevoSolicitud.place" min="0" required>
                                                        </div>
                                                    </td>
                                                    <th class="text-center">Plazo de credito (en meses):</th>
                                                    <td>
                                                        <div class="form-group fixImg">
                                                            <input type="number" class="form-control" placeholder="# de meses" ng-model="ModalNuevoSolicitud.creditterm" required>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center" colspan="2">Nombre de proyecto:</th>
                                                    <td colspan="2">
                                                        <div class="form-group fixImg">
                                                            <input type="text" class="form-control" placeholder="Proyecto" ng-model="ModalNuevoSolicitud.projectname">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <button class="btn btn-default pull-right" (click)="onClickTab(tabs[1])" ng-disabled="DataBasica_add.$invalid">Siguiente</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                        <form [hidden]="!isActiveTab('archivos.tpl.html')" name="files_Add_Application">
                                            <div class="row">
                                                <ng-container>
                                                    <div *ngFor="let file of filesApp" class="col-sm-2 text-center nga-default nga-stagger nga-fade">
                                                        <span class="label label-default" style="margin-right: .5em">{{file.name}} <a class="btn_label" (click)="deleteFiles($index)"><i class="txt-White">&times;</i></a></span>
                                                    </div>
                                                </ng-container>

                                            </div>
                                            <div id="dropzone">
                                                <div>Arrastra tus archivos o haz click.</div>
                                                <input type="file" ngf-select="AddFile($file)" />
                                            </div>
                                            <div class="row">
                                                <div class="pull-left">
                                                    <a class="btn btn-default" (click)="onClickTab(tabs[0])" style="margin-right:.5em ">Volver</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a class="btn btn-default" (click)="onClickTab(tabs[2])" style="margin-right:.5em ">Siguiente</a>
                                                </div>
                                            </div>
                                        </form>
                                        <form [hidden]="!isActiveTab('aval.tpl.html')" class="nga-default nga-stagger nga-slide-up fixImg" name="InfoBasica_add">
                                            <div *ngIf="ModalNuevoSolicitud.avales.length>0" class="row nga-default nga-stagger nga-fade">
                                                <div *ngFor="let aval of ModalNuevoSolicitud.avales" class="col-sm-2 text-center nga-default nga-stagger nga-fade">
                                                    <span class="label label-default" *ngIf="showNameAval(aval,'Moral')">{{aval.selectClient_aval.businessname}} <a class="btn_label" (click)="DeleteAval($index)"><i class="txt-White">&times;</i></a></span>
                                                    <span class="label label-default" *ngIf="showNameAval(aval,'Fisica')">{{aval.name}} {{aval.lastname}} <a class="btn_label" (click)="DeleteAval($index)"><i class="txt-White">&times;</i></a></span>
                                                </div>
                                            </div>
                                            <div class="scrollbar scrollbar1" style="height:320px">
                                                <table class="table table-bordered table-condensed">
                                                    <tr>
                                                        <th class="text-center">Tipo de aval:
                                                            <form name="optradio_add">
                                                                <div class="radio-inline">
                                                                    <label><input type="radio" name="optradio_add" ng-model="ModalNuevoSolicitud.aval.typeguarantee" value="Moral">Moral</label>
                                                                </div>
                                                                <div class="radio-inline">
                                                                    <label><input type="radio" (click)="viewObject()" name="optradio_add" ng-model="ModalNuevoSolicitud.aval.typeguarantee" value="Fisica">Fisica</label>
                                                                </div>
                                                            </form>
                                                        </th>
                                                        <th class="text-center">AVAL:</th>
                                                        <td colspan="2" [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Moral'">
                                                            <div class="form-group fixImg">
                                                                <select name="sel_aval_add" ng-options="option.businessname for option in ModalNuevoSolicitud.Clients track by option.id" ng-model="ModalNuevoSolicitud.aval.selectClient_aval" class="form-control fixImg">
                                </select>
                                                            </div>
                                                        </td>
                                                        <td [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                            <div class="form-group fixImg">
                                                                <input name="name_aval_add" type="text" class="form-control" placeholder="Nombre" ng-model="ModalNuevoSolicitud.aval.name">
                                                            </div>
                                                        </td>
                                                        <td [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                            <div class="form-group fixImg">
                                                                <input name="lastname_aval_add" type="text" class="form-control" placeholder="Apellido" ng-model="ModalNuevoSolicitud.aval.lastname">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">RFC:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input id="rfc_aval_add" name="rfc_aval_add" format="RFC" type="text" class="form-control" placeholder="RFC" ng-model="ModalNuevoSolicitud.aval.rfc">
                                                            </div>
                                                        </td>
                                                        <th class="text-center">CURP:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input name="curp_aval_add" type="text" format="CURP" class="form-control" placeholder="CURP" ng-model="ModalNuevoSolicitud.aval.curp">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Fecha de Nacimiento:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input name="birth_aval_add" type="date" class="form-control" ng-model="ModalNuevoSolicitud.aval.birthday">
                                                            </div>
                                                        </td>
                                                        <th class="text-center">Nacionalidad:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input name="nacionalidad_aval_add" type="text" class="form-control" placeholder="Nacionalidad" ng-model="ModalNuevoSolicitud.aval.nacionality">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Lugar de Nacimiento:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="text" class="form-control" placeholder="Lugar de Nacimiento" ng-model="ModalNuevoSolicitud.aval.country">
                                                            </div>
                                                        </td>
                                                        <th class="text-center">Telefono:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="text" format="phone" class="form-control" placeholder="Telefono" ng-model="ModalNuevoSolicitud.aval.phone">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Dirección:</th>
                                                        <td colspan="3">
                                                            <div class="form-group fixImg">
                                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="ModalNuevoSolicitud.aval.address">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Correo Electronico:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="email" format="email" class="form-control" placeholder="Email" ng-model="ModalNuevoSolicitud.aval.email">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <form name="optradio_edocivil_add">
                                                                <div class="radio-inline">
                                                                    <label><input type="radio" name="optradio_edocivil_add" ng-model="ModalNuevoSolicitud.aval.maritalstatus" value="Casado">Casado</label>
                                                                </div>
                                                                <div class="radio-inline">
                                                                    <label><input type="radio" name="optradio_edocivil_add" ng-model="ModalNuevoSolicitud.aval.maritalstatus" value="Soltero">Soltero</label>
                                                                </div>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <select ng-options="option.name for option in ModalNuevoSolicitud.aval.statusmarital track by option.id" ng-disabled="ModalNuevoSolicitud.aval.maritalstatus!='Casado'" ng-model="ModalNuevoSolicitud.aval.regimen" class="form-control fixImg"></select>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Relación con el solicitante:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="text" class="form-control" placeholder="Parentesco o Relación" ng-model="ModalNuevoSolicitud.aval.relationship">
                                                            </div>
                                                        </td>
                                                        <th class="text-center">Lugar de Trabajo:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="text" class="form-control" placeholder="Empresa de trabajo" ng-model="ModalNuevoSolicitud.aval.companyjob">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Telefono de Trabajo:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="text" format="phone" class="form-control" placeholder="Telefono" ng-model="ModalNuevoSolicitud.aval.phonejob">
                                                            </div>
                                                        </td>
                                                        <th class="text-center">Puesto:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="text" class="form-control" placeholder="Puesto de trabajo" ng-model="ModalNuevoSolicitud.aval.occupation">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr [hidden]="ModalNuevoSolicitud.aval.typeguarantee!='Fisica'">
                                                        <th class="text-center">Antigüedad:</th>
                                                        <td>
                                                            <div class="form-group fixImg">
                                                                <input type="date" class="form-control" placeholder="Antigüedad" ng-model="ModalNuevoSolicitud.aval.oldwork">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="pull-left">
                                                                <a class="btn btn-default" (click)="onClickTab(tabs[1])" style="margin-right:.5em ">Volver</a>
                                                                <a class="btn btn-default " (click)="addAval()">Agregar</a>
                                                            </div>
                                                            <div class="btn-group pull-right">
                                                                <button class="btn btn-success pull-right" ng-disabled="ModalNuevoSolicitud.avales.length<1" (click)="AddSolicitud()">Guardar</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer" style="margin-top:0px">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {

        $('#dropzone').on('dragover', function() {
            $(this).addClass('hover');
        });

        $('#dropzone').on('dragleave', function() {
            $(this).removeClass('hover');
        });

        $('#dropzone input').on('change', function(e) {
            var file = this.files[0];

            $('#dropzone').removeClass('hover');

            if (this.accept && $.inArray(file.type, this.accept.split(/, ?/)) == -1) {
                return alert('File type not allowed.');
            }

            $('#dropzone').addClass('dropped');
            $('#dropzone img').remove();

            if ((/^image\/(gif|png|jpeg|jpg)$/i).test(file.type)) {
                var reader = new FileReader(file);

                reader.readAsDataURL(file);

                reader.onload = function(e) {
                    var data = e.target.result,
                        $img = $('<img />').attr('src', data).fadeIn();

                    $('#dropzone div').html($img);
                };
            } else {
                var ext = file.name;

                $('#dropzone div').html(ext);
            }
        });
    });
</script>