<tabset>
    <tab title="Comprobante de Domicilio">
        <span *tabHeading>Comprobante de Domicilio</span>
        <div>
            <div class="form-group">
                <label for="input">Subir Comprobante de Domicilio:</label>
                <input name="input" class="form-control" type="file" ngf-select="ctrl.SubirDom($file)" />
            </div>
            <div>
                <button class="btn btn-default" ng-click="ctrl.DownloadFile(file.id)">
                                                <i class="material-icons">file_download</i>
                                            </button>
            </div>
        </div>
    </tab>

    <tab title="Estados de Cuenta">
        <span *tabHeading>Estados de Cuenta</span>
        <div class="form-group">
            <label for="input">Subir Estados de Cuenta:</label>
            <input name="input" class="form-control" type="file" ngf-select="ctrl.SubirCuentas($file)" />
        </div>
        <div>
            <button class="btn btn-default" ng-click="ctrl.DownloadFile(file.id)">
                                                <i class="material-icons">file_download</i>
                                            </button>
        </div>
    </tab>

    <tab title="RFC">
        <span *tabHeading>RFC</span>
        <div class="form-group">
            <label for="input">Subir RFC:</label>
            <input name="input" class="form-control" type="file" ngf-select="ctrl.SubirRFC($file)" />
        </div>
        <div>
            <button class="btn btn-default" ng-click="ctrl.DownloadFile(file.id)">
                                                <i class="material-icons">file_download</i>
                                            </button>
        </div>
    </tab>

    <tab title="Proforma">
        <span *tabHeading>Proforma</span>
        <div class="form-group">
            <label for="input">Subir Proforma:</label>
            <input name="input" class="form-control" type="file" ngf-select="ctrl.SubirContrato($file)" />
        </div>
        <div>
            <button class="btn btn-default" ng-click="ctrl.DownloadFile(file.id)">
                                                <i class="material-icons">file_download</i>
                        </button>
        </div>
    </tab>
    <tab title="Informacion Financiera">
        <span *tabHeading>Informacion Financiera</span>
        <div class="form-group">
            <label for="input">Subir Informacion Financiera:</label>
            <input name="input" class="form-control" type="file" ngf-select="ctrl.SubirContrato($file)" />
        </div>
        <div>
            <button class="btn btn-default" ng-click="ctrl.DownloadFile(file.id)">
                                                <i class="material-icons">file_download</i>
                        </button>
        </div>
    </tab>


</tabset>