<div>
    <div class="card">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card" *ngFor="let shared of sharedArray;index as i" #group>
                <div class="card-header" role="tab" id="headingS{{i}}">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseS{{i}}" aria-expanded="true" aria-controls="collapse">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{shared.oldname}} {{shared.oldlastname}}
                            <a [target]="shared.name" bind-target="shared.name"></a>
                        </a>
                    </h5>
                </div>

                <div id="collapseS{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading">
                    <div class="card-block">
                        <form (ngSubmit)='onUpdate()' #sharedForm='ngForm'>
                            <div class="row col-sm-12">

                                <div class="form-group col-sm-6">
                                    <label>Nombre:</label>
                                    <input id="name" name="name" class="form-control" [(ngModel)]="shared.name" type="text" #name="ngModel" required>
                                    <div [hidden]="name.valid || name.pristine">
                                        <span class="text-danger">El nombre no es un campo válido</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Apellido(s):</label>
                                    <input id="lastname" name="lastname" class="form-control" [(ngModel)]="shared.lastname" type="text" #lastname="ngModel" required>
                                    <div [hidden]="lastname.valid || lastname.pristine">
                                        <span class="text-danger">El apellido no es un campo válido</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label>RFC:</label>
                                    <input id="rfc" name="rfc" class="form-control" [(ngModel)]="shared.rfc" pattern="{{RFCPattern}}" type="text" #rfc="ngModel" required>
                                    <div [hidden]="rfc.valid || rfc.pristine">
                                        <span class="text-danger">El RFC no es un campo válido</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label>Participación(%):</label>
                                    <input id="participation" name="participation" class="form-control" [(ngModel)]="shared.participation" type="number" #participation="ngModel" required>
                                    <div [hidden]="participation.valid || participation.pristine">
                                        <span class="text-danger">La participación no es un campo válido</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="constitutiondate">Fecha de Contratación:</label>
                                    <div class="row">
                                        <div class="col-xs-12 col-12 col-md-6 form-group">
                                            <input type="text" class="form-control" name="constitution" #constitutiondate="ngModel" #dp="bsDatepicker" bsDatepicker [(ngModel)]="shared.oldwork">
                                        </div>
                                        <div class="col-xs-12 col-12 col-md-3 form-group">
                                            <button type="button" class="btn btn-primary" (click)="dp.toggle()">Seleccionar Fecha</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-default " style='margin-right:10px' [disabled]="!sharedForm.valid" (click)="onUpdate(shared)" type="button">
                                                  <i class="material-icons ">Actualizar Accionista</i>
                                              </button>

                                    <button class="btn btn-default " [disabled]="!sharedForm.valid" (click)="onDelete(shared)" type="button" style="background-color: #d9534f;border-color: #d43f3a;">
                                                  <i class="material-icons ">Eliminar Accionista</i>
                                              </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>