<tabset>
    <div *ngIf="clientType==moralClient; else physicalClient">
        <tab title="Acta Constitutiva">
            <app-addfile [fileDescriptor]="'Acta Constitutiva'" [fileArray]='this.constitutiveArray' (fileEmitter)="getFile($event,'Constitutiva')"></app-addfile>
        </tab>
        <tab title="Acta Asamblea">
            <app-addfile [fileDescriptor]="'Acta Asamblea'" [fileArray]='this.asambleaArray' (fileEmitter)="getFile($event,'Asamblea')"></app-addfile>
        </tab>
        <tab title="Extras">
            <app-addfile [fileDescriptor]="'Extras'" [fileArray]='this.extrasArray' (fileEmitter)="getFile($event,'Extras')"></app-addfile>
        </tab>
    </div>
    <ng-template #physicalClient>
        <tab title="Documentacion Legal">
            <app-addfile [fileDescriptor]="'Documentacion Legal'" [fileArray]='this.legalDocsArray' (fileEmitter)="getFile($event,'Documentacion Legal')"></app-addfile>
        </tab>
        <tab title="RFC">
            <app-addfile [fileDescriptor]="'RFC'" [fileArray]='this.RFCArray' (fileEmitter)="getFile($event,'RFC')"></app-addfile>
        </tab>
        <tab title="Acta de Nacimiento">
            <app-addfile [fileDescriptor]="'Acta de Nacimiento'" [fileArray]='this.birthCertificateArray' (fileEmitter)="getFile($event,'Acta de Nacimiento')"></app-addfile>
        </tab>
    </ng-template>
</tabset>