<tabset>
    <tab title="Acta Constitutiva">
        <span *tabHeading>Acta Constitutiva</span>
        <div>
            <app-file-ac></app-file-ac>
        </div>
    </tab>

    <tab title="Acta Asamblea">
        <span *tabHeading>Acta Asamblea</span>
        <div>
            <app-file-aa></app-file-aa>
        </div>
    </tab>

    <tab title="Extras">
        <span *tabHeading>Extras</span>
        <div>
            <app-file-extras></app-file-extras>
        </div>
    </tab>

</tabset>