<tabset>
    <tab title="Acta Constitutiva">
        <app-addfile [fileDescriptor]="'Acta Constitutiva'" [fileArray]='this.constArray' (fileEmitter)="getFile($event,'Constitutiva')"></app-addfile>
    </tab>
    <tab title="Acta Asamblea">
        <app-addfile [fileDescriptor]="'Acta Asamblea'" [fileArray]='this.asambleaArray' (fileEmitter)="getFile($event,'Asamblea')"></app-addfile>
    </tab>
    <tab title="Extras">
        <app-addfile [fileDescriptor]="'Extras'" [fileArray]='this.extraArray' (fileEmitter)="getFile($event,'Extras')"></app-addfile>
    </tab>
</tabset>