<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="card">
              <div class="panel panel-default widget-shadow">
                  <div class="panel-heading"><h3>Cliente: {{cliente}} <p class="pull-right">Proyecto: {{proyecto}}</p></h3>
                  </div>
                  <div class="panel-body">
                      <div class="col-sm-12">
                          <table class="table">
                              <tr>
                                  <th>Linea de Credito</th>
                                  <td class="text-left">{{CreditPadre.amount|currency}}</td>
                                  <th>Interes</th>
                                  <td>{{CreditPadre.interest}}%</td>
                                  <th>Moratorio</th>
                                  <td>{{CreditPadre.interest_arrear}}%</td>
                                  <th>IVA</th>
                                  <td>{{CreditPadre.iva}}%</td>
                                  <th>Fecha Inicial</th>
                                  <td class="text-center hidden-xs hidden-sm">{{CreditPadre.start_date|date:"dd/MM/yyyy"}}</td>
                                  <th>Fecha de Terminacion</th>
                                  <td class="text-center hidden-xs hidden-sm">{{addTerm()|date:"dd/MM/yyyy"}}</td>
                              </tr>
                          </table>
                      </div>
                      <div style="overflow-y:scroll;" class="col-sm-6 scrollbar1">
                          <table class="table table-striped table-condensed">
                              <h5>
                                DISPOSICIONES DE CREDITO
                              </h5>
                          </table>
                          <table class="table table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th class="text-center hidden-xs hidden-sm">#</th>
                                  <th class="text-center hidden-xs hidden-sm">Monto</th>
                                  <th class="text-center hidden-xs hidden-sm">Interes</th>
                                  <th class="text-center hidden-xs hidden-sm">Moratorio</th>
                                  <th class="text-center hidden-xs hidden-sm">IVA</th>
                                  <th class="text-center hidden-xs hidden-sm">Fecha</th>
                                  <th class="text-center hidden-xs hidden-sm">Meses</th>
                                  <th></th>
                              </tr>
                              </thead>
                          </table>
                          <div class="table-scroll scrollbar1" style="height: 42.2vh">
                              <table class="table table-striped table-condensed">
                                  <tbody *ngIf="credit!=null" class="nga-fast nga-stagger nga-slide-up">
                                  <tr id="condicion_{{credito.id}}" style="border-bottom: 1px solid #ddd" *ngFor="let credito of credit;index as i" class="nga-fast nga-stagger nga-slide-up">
                                      <td class="text-left hidden-xs hidden-sm">{{i+1}}</td>
                                      <td class="text-left hidden-xs hidden-sm">{{credito.amount | currency:'USD':true}}$ {{credito.currency}}</td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.interest}} % </td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.interest_arrear}} % </td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.iva}} % </td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.start_date|date:"dd/MM/yyyy"}}</td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.term}} </td>
                                      <td class="text-center">
                                          <button ng-click="SelectCondition(credito)" data-toggle="modal" data-target="#modalCondicionDetalle" class="btn btn-default fontSmall">
                                              <i class="fa fa-clipboard"></i>
                                          </button>
                                      </td>
                                  </tr>
                                  </tbody>
                                  <tbody *ngIf="credit.length<1">
                                  <tr>
                                      <td colspan="8" class="text-center">
                                          <b>No Hay Disposiciones</b>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div style="overflow-y:scroll;" class="col-sm-6 scrollbar1">
                          <table class="table table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>
                                  </th>
                              </tr>
                              </thead>
                          </table>
                          <table class="table table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th class="text-center hidden-xs hidden-sm">#</th>
                                  <th class="text-center hidden-xs hidden-sm">Saldo</th>
                                  <th class="text-center hidden-xs hidden-sm">Intereses</th>
                                  <th class="text-center hidden-xs hidden-sm">IVA</th>
                                  <th class="text-center hidden-xs hidden-sm">Fecha</th>
                                  <th class="text-center">Pago</th>
                                  <th></th>
                              </tr>
                              </thead>
                          </table>
                          <div class="table-scroll scrollbar1" style="height: 42.2vh">
                              <table class="table table-striped table-condensed">
                                  <tbody *ngIf="selectedCondicion!=null" class="nga-fast nga-stagger nga-slide-up">
                                  <tr style="border-bottom: 1px solid #ddd" ng-repeat="credito in selectedCondicion | filter:$main.txt_filtro" class="nga-fast nga-stagger nga-slide-up">
                                      <td class="text-left hidden-xs hidden-sm">{{$index+1}}</td>
                                      <td class="text-left hidden-xs hidden-sm">{{credito.capital_balance | currency:'USD':true}}$ {{credito.currency}}</td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.interest_balance + credito.interest_arrear_balance | currency:'USD':true}}$ </td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.iva_balance + credito.interest_arrear_iva_balance | currency:'USD':true}}$ </td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.period|date:"dd/MM/yyyy"}}</td>
                                      <td class="text-center hidden-xs hidden-sm">{{credito.pay |currency:'USD':true}}$ </td>
                                      <td class="text-center hidden-xs hidden-sm">
                                          <a class="btn btn-default" data-toggle="modal"
                                             data-target="#modalPagoDet" ng-click="selectPago(credito)" >
                                              <i class="material-icons">assignment</i>
                                          </a>
                                      </td>
                                  </tr>
                                  </tbody>
                                  <tfoot>
                                  <tr *ngIf="credit.length>0">
                                      <th colspan="5" class="text-center">Balance Aproximado:</th>
                                  </tr>
                                  <tr *ngIf="credit.length>0">
                                      <td>Total</td>
                                      <td>{{lastMove.capital_balance|currency:'USD':true}} $ </td>
                                      <td>{{lastMove.interest_balance + lastMove.interest_arrear_balance | currency:'USD':true}} $</td>
                                      <td>{{lastMove.iva_balance + lastMove.interest_arrear_iva_balance | currency:'USD':true}} $</td>
                                      <td>{{lastMove.period | date:"dd/MM/yyyy"}}</td>
                                  </tr>
                                  </tfoot>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

<div ng-include="'app/views/creditos/ModalPagos.html'"></div>
<div ng-include="'app/views/creditos/disposicion.html'"></div>
<div ng-include="'app/views/creditos/edit_revolvente.html'"></div>
<div ng-include="'app/views/creditos/ModalDetallePago.html'"></div>
<div ng-include="'app/views/creditos/ModalCondicionDetalle.html'"></div>