<form (ngSubmit)="onSubmit()" #avalForm="ngForm">
    <div>
        <div>
            <div class="col-sm-3 form-group">
                <label for="companyname">Nombre de compañia:</label>
                <input class="form-control" [(ngModel)]="model.companyname" name="companyname" type="text" required>
            </div>
            <div class="col-sm-3 form-group">
                <label for="input">Subir Identificacion:</label>
                <input name="fileInput" class="form-control" type="file" ngModel (change)="getFiles($event)" />
            </div>
            <div class="col-sm-3 form-group">
                <label for="avalid">Aval:</label>
                <input class="form-control" [(ngModel)]="model.avalid" name="avalid" type="number" required>
                <div class="col-sm-2 btn-group" style="margin-top: 1.5%">
                    <button class="btn btn-default" [disabled]="!avalForm.valid" type="submit">
                                        Guardar
                                    </button>
                </div>
            </div>
        </div>
    </div>
</form>