<div>
    <tabset>
        <tab title="Solicitud">
            <span *tabHeading>Solicitud</span>
            <app-registry-sol-p [inputAppData]="data.applications" (dataRefresher)="refreshAppData($event)"></app-registry-sol-p>
        </tab>

        <tab title="Avales">

            <span *tabHeading>Avales</span>
            <div>
                <p>
                    <app-aval-p [inputAvalData]="data.avals" (dataRefresher)="refreshAvalData($event)"></app-aval-p>
                </p>
            </div>
        </tab>

        <tab title="Archivos">

            <span *tabHeading>Archivos</span>
            <div>
                <p>
                    <app-files-p [inputFileData]="data.files" (dataRefresher)="refreshFileData($event)"></app-files-p>
                </p>
            </div>
        </tab>

    </tabset>
</div>