<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div>
        <div class="form-group">
            <label for="input">Subir RFC:</label>
            <input name="fileInput" class="form-control" type="file" ngModel (change)="getFiles($event)" />
        </div>
        <div>
            <button class="btn btn-default" [disabled]="!form.valid" type="submit">
                <i class="material-icons">Subir Archivo</i>
            </button>
        </div>
        <div class="form-group">
            <div class="card" *ngFor="let file of type;index as i" #group>
                <div class="card-header" role="tab" id="heading{{i}}">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRFC{{i}}" aria-expanded="true" aria-controls="collapse">
                         Nombre del archivo: {{type[i].name}}


                        </a>
                    </h5>
                </div>

                <div id="collapseRFC{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading">
                    <div>
                        <button class="btn btn-default" type="submit">
                        <i class="material-icons ">Descargar archivo</i>
                    </button>
                        <button class="btn btn-default" type="submit">
                        <i class="material-icons ">Eliminar archivo</i>
                    </button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>