<form  (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <div class="row col-sm-12">
        <div class="form-group col-sm-8">
            <label for="businessname">Razón Social:</label>
            <input id="businessname" name="businessname" class="form-control" [(ngModel)]="model.client.businessname" type="text" required>
        </div>
        <div class="form-group col-sm-4">
            <label for="rfc">RFC:</label>
            <input class="form-control" [(ngModel)]="model.client.rfc" pattern="{{RFCPattern}}" name="rfc" type="text" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="constitutiondate">Fecha de Constitución:</label>
            <input class="form-control" [(ngModel)]="model.client.constitutiondate" name="constitutiondate" date-format="yyyy-MM-dd" type="date" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="giro">Giro:</label>
            <input class="form-control" [(ngModel)]="model.client.businesscategory" name="giro" type="text" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="numberemployes">No. Empleados:</label>
            <input class="form-control" [(ngModel)]="model.client.employeenumber" name="employeenumber" type="number" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="fiel">FIEL:</label>
            <input class="form-control" [(ngModel)]="model.client.fiel" pattern="{{FIELPattern}}" name="fiel" type="text" required>
        </div>
    </div>


    <div class="card-header">
        <h4>Informacion de Contacto</h4>
    </div>

    <div class="row col-sm-12">
        <div class="form-group col-sm-8">
            <label for="address">Calle y número:</label>
            <input class="form-control" [(ngModel)]="model.client.address" name="address" required>
        </div>
        <div class="form-group col-sm-4">
            <label for="colony">Colonia:</label>
            <input class="form-control" [(ngModel)]="model.client.colony" name="colony" required>
        </div>
        <div class="form-group col-sm-4">
            <label for="postalcode">C.P.:</label>
            <input class="form-control" [(ngModel)]="model.client.postalcode" name="postalcode" type="number" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="city">Ciudad:</label>
            <input class="form-control" [(ngModel)]="model.client.city" name="city" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="state">Estado:</label>
            <input class="form-control" [(ngModel)]="model.client.state" name="state" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="email">E-Mail:</label>
            <input class="form-control" [(ngModel)]="model.client.email" pattern={{emailPattern}} name="email" required>
        </div>
        <div class="form-group col-sm-2">
            <label for="phone">Teléfono:</label>
            <input class="form-control" [(ngModel)]="model.client.phone" name="phone" type="number" pattern="{{phonePattern}}" required>
        </div>
    </div>
    <div class="col-sm-4 btn-group">
        <div *ngIf="idClient == null;else updateButton">
            <button class="btn btn-default" [disabled]="!clientForm.valid" type="submit" (click)="method='POST'">
                Guardar
            </button>
        </div>
        <ng-template #updateButton>
            <button class="btn btn-default" [disabled]=!clientForm.valid type="submit" (click)="method='PUT'">
                Actualizar
            </button>
        </ng-template>
    </div>
</form>