<div class="row col-sm-12">
    <div class="form-group col-sm-8">
        <label for="businessname">Razón Social:</label>
        <input name="businessname" class="form-control" required>
    </div>
    <div class="form-group col-sm-2">
        <label for="rfc">RFC:</label>
        <input name="rfc" ng-model="ctrl.Client.rfc" class="form-control" format="RFC" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="constitutiondate">Fecha de Constitución/Nacimiento:</label>
        <input name="constitutiondate" class="form-control" ng-model="ctrl.Client.constitutiondate" type="date" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="giro">Giro:</label>
        <input name="giro" ng-model="ctrl.Client.businesscategory" class="form-control" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="numberemployes">No. Empleados:</label>
        <input name="numberemployes" ng-model="ctrl.Client.employeenumber" class="form-control" type="number" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="fiel">FIEL:</label>
        <input name="fiel" ng-model="ctrl.Client.fiel" class="form-control" format="clabe" required>
    </div>
</div>


<div class="card-header">
    <h4>Informacion de Contacto</h4>
</div>

<div class="row col-sm-12">
    <div class="form-group col-sm-8">
        <label for="address">Calle y número:</label>
        <input name="address" class="form-control" type="text" required>
    </div>
    <div class="form-group col-sm-4">
        <label for="colony">Colonia:</label>
        <input name="colony" class="form-control" type="text" required>
    </div>
    <div class="form-group col-sm-4">
        <label for="postalcode">C.P.:</label>
        <input name="postalcode" class="form-control" type="number" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="city">Ciudad:</label>
        <input name="city" ng-model="ctrl.Client.city" class="form-control" type="text" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="state">Estado:</label>
        <input name="state" ng-model="ctrl.Client.state" class="form-control" type="text" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="email">E-Mail:</label>
        <input name="email" ng-model="ctrl.Client.email" class="form-control" type="email" required>
    </div>
    <div class="form-group col-sm-2">
        <label for="phone">Teléfono:</label>
        <input name="phone" ng-model="ctrl.Client.phone" class="form-control" type="tel" format="phone" required>
    </div>
    <div class="col-sm-4 btn-group">
        <button class="btn btn-default">
                                        Guardar
                                    </button>
        <button class="btn btn-default">
                                        Actualizar
                                    </button>
    </div>