<form>
    <div>
        <div class="form-group">
            <label for="input">Subir Acta Constitutiva:</label>
            <input name="input" class="form-control" type="file" ngf-select="ctrl.SubirDom($file)" />
        </div>
        <div>
            <button class="btn btn-default" ng-click="ctrl.DownloadFile(file.id)">
                                                <i class="material-icons">file_download</i>
                                            </button>
        </div>
    </div>
</form>