<div id="modalPagoDet" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Detalle de Pago</h4>
          </div>
          <div class="modal-body">
              <table class="table table-bordered table-bordered">
                  <tbody>
                  <tr>
                      <th>Fecha</th><td>{{creditPay.period|date:'dd/MM/yyyy'}}</td>
                      <th>Balance de Capital</th><td>{{creditPay.capital_balance|currency}}</td>
                  </tr>
                  <tr>
                      <th>Balance de Interes</th><td>{{creditPay.interest_balance|currency}}</td>
                      <th>Balance de Iva</th><td>{{creditPay.iva_balance|currency}}</td>
                  </tr>
                  <tr>
                      <th>Balance de Interes Moratorio</th><td>{{creditPay.interest_arrear_balance|currency}}</td>
                      <th>Balance de Interes Moratorio</th><td>{{creditPay.interest_arrear_iva_balance|currency}}</td>
                  </tr>
                  <tr>
                      <th>Intereses del Periodo</th><td>{{creditPay.interest|currency}}</td>
                      <th>Interes Moratorio del Periodo</th><td>{{creditPay.interest_arrear|currency}}</td>
                  </tr>
                  <tr>
                      <th colspan="4" class="text-center">
                          Pago:
                      </th>
                  </tr>
                  <tr>
                      <th>Diferido al Capital</th><td>{{creditPay.pay_capital|currency}}</td>
                      <th>Diferido al Interes</th><td>{{creditPay.pay_interest|currency}}</td>
                  </tr>
                  <tr>
                      <th>Diferido al Interes Moratorio</th><td>{{creditPay.pay_interest_arrear|currency}}</td>
                      <th>Diferido al IVA</th><td>{{creditPay.pay_iva+creditPay.pay_iva_arrear|currency}}</td>
                  </tr>
                  <tr>
                      <th class="text-right" colspan="2">Pago Total</th><td colspan="2" class="text-center">{{creditPay.pay|currency}}</td>
                  </tr>

                  <tr ng-if="creditPay.idref">
                      <th class="text-right" colspan="2">Comprobante</th>
                      <td colspan="2" class="text-center">
                          <button class="btn btn-default" ng-click="DownloadFile(creditPay.idref)">Descargar</button>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" ng-click="eliminarMovimiento()" ng-if="lastMove.created_at == creditPay.created_at" class="btn btn-default" data-dismiss="modal" style="background-color: #d9534f;border-color: #d43f3a;">
                  <i class="material-icons">delete</i>
                  Eliminar
              </button>
          </div>
      </div>
  </div>
</div>