button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

a {
    color: #29363d;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.card-header1 {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #495057 !important;
    border-bottom: 1px solid #ffffff !important;
    color: #ffffff !important;
}

.card-header2 {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f1f1f1 !important;
    border-bottom: 1px solid #ffffff !important;
}