<div>
    <div>
        <div class="col-sm-3 form-group">
            <label for="input">Nombre de Cliente:</label>
            <input name="input" class="form-control" ng-model="ctrl.Aval.name" required>
        </div>
        <div class="col-sm-3 form-group">
            <label for="input">Aval:</label>
            <input name="input" class="form-control" ng-model="ctrl.Aval.rfc" format="RFC" required>
            <div class="col-sm-2 btn-group" style="margin-top: 1.5%">
                <button class="btn btn-default" ng-show="ctrl.Aval.id==null" ng-click="ctrl.createAval()" ng-disabled="avales.$invalid">
                                        Guardar
                                    </button>
            </div>
        </div>
    </div>
</div>