<div>
    <tabset>
        <tab title="Informacion Cliente">
            <span *tabHeading>Informacion de Cliente</span>
            <div>
                <app-registry-p [client]="client" (idRefresher)="refreshId($event)"></app-registry-p>
            </div>
        </tab>

        <tab [disabled]="idClient==null" title="Banco">
            <span *tabHeading>Banco</span>
            <div>

                <app-bank-p></app-bank-p>
            </div>
        </tab>

        <tab [disabled]="idClient==null" title="Archivos">
            <span *tabHeading>Archivos</span>
            <div>
                <app-files-p></app-files-p>
            </div>
        </tab>

    </tabset>
</div>