<form>
    <tabset>
        <tab title="Informacion Cliente">
            <span *tabHeading>Informacion de Cliente</span>
            <div class="row col-sm-12">
                <app-registry-p></app-registry-p>
            </div>
        </tab>

        <tab title="Banco">
            <span *tabHeading>Banco</span>
            <div class="row col-sm-12">

                <app-bank-p></app-bank-p>
            </div>
        </tab>

        <tab title="Archivos">
            <span *tabHeading>Archivos</span>
            <div class="row col-sm-12">
                <app-files-p></app-files-p>
            </div>
        </tab>



    </tabset>
</form>