<div>
    <div *ngIf="dataFinishedLoading">
        <tabset>
            <tab title="Informacion de Cliente">
                <span *tabHeading>Información de Cliente</span>
                <app-registry-p [client]="client" (idRefresher)="refreshId($event)" class="container"></app-registry-p>
            </tab>

            <tab [disabled]="idClient==null" title="Banco">
                <span *tabHeading>Banco</span>
                <app-bank [inputBanksArray]="this.fullClient.banks" class="container"></app-bank>
            </tab>

            <tab [disabled]="idClient==null" title="Archivos">
                <span *tabHeading>Archivos</span>
                <div>
                    <app-files [inputFileData]="this.fullClient.files" [fileTypes]="this.fileTypes"></app-files>
                </div>
            </tab>

        </tabset>
    </div>
</div>