<hr>
<div class="card-header" role="tab" id="headingR">
    <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseR" aria-expanded="true" aria-controls="collapse">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i> Registrar Cuenta Bancaria
        </a>
    </h5>
</div>
<hr>
<div id="collapseR" class="collapse" role="tabpanel" aria-labelledby="heading">

    <div class="card-block">

        <form (ngSubmit)="onSubmit()" #bankForm="ngForm">
            <div class="row col-sm-12">
                <div class="form-group col-sm-6">
                    <label> Banco:</label>
                    <select #selectElem class="form-control" (change)="change(selectElem.value)" name="bank" required>
                            <option value="" [disabled]="true">Seleccione un banco</option>
                            <option *ngFor='let bank of availableBanks' [value]='bank.id'>
                                {{bank.name}}
                            </option>
                        </select>
                </div>

                <div class="form-group col-sm-6">
                    <label>Tipo de Cuenta:</label>
                    <input id="accounttype" name="accounttype" class="form-control " [(ngModel)]="bankModel.accounttype" type="text" #accounttype="ngModel" required>
                    <div [hidden]="accounttype.valid || accounttype.pristine">
                        <span class="text-danger">El tipo de cuenta bancaria no es un campo válido</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label>Número de Cuenta:</label>
                    <input id="accountnumber" name="accountnumber" class="form-control " [(ngModel)]="bankModel.accountnumber" pattern="{{accountnumberPattern}}" type="number" #accountnumber="ngModel" required>
                    <div [hidden]="accountnumber.valid || accountnumber.pristine">
                        <span class="text-danger">El número de cuenta bancaria no es un campo válido</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label>Clabe Bancaria:</label>
                    <input id="clabe" name="clabe" class="form-control " [(ngModel)]="bankModel.clabe" type="number" pattern="{{clabePattern}}" #clabe="ngModel" required>
                    <div [hidden]="clabe.valid || clabe.pristine">
                        <span class="text-danger">La clabe bancaria no es un campo válido</span>
                    </div>
                </div>

                <div>
                    <button class="btn btn-default" [disabled]="!bankForm.valid" type="submit">
                                                <i class="material-icons ">Agregar Banco</i>
                                            </button>
                </div>
            </div>
        </form>
    </div>
</div>

<h5 class="col-sm-12 text-center">Listado de cuentas bancarias.</h5>

<div *ngIf="dataFinishedLoading">
    <app-bank-section [banksArray]="banksArray" [availableBanks]="availableBanks"></app-bank-section>
</div>