<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div *ngIf="!appId; else editHeader"class="card-header">
                    <h2>Nueva Solicitud</h2>
                </div>
                <ng-template class="card-header" #editHeader>
                    <h2>Editar Solicitud</h2>
                </ng-template>
                <br>
                <div *ngIf="clientType == 'moral';else physicalForm">
                    <app-moral-person [inputData]="data" [inputAppId]="appId" (dataRefresher)="refreshAppData($event)" ></app-moral-person>
                </div>
                <ng-template #physicalForm>
                    <!-- <app-physical-person [inputData]="data"></app-physical-person> !-->
                </ng-template>
            </div>
        </div>
    </div>
</div>