<span *tabHeading>{{fileDescriptor}}</span>
<div>
    <div class="form-group">
        <label for="input">Subir {{fileDescriptor}}:</label>
        <input name="fileInput" class="form-control" type="file" ngModel (change)="getFiles($event)">
    </div>
    <div>
        <button class="btn btn-default" [disabled]="file==null" (click)="emitFile()" type="submit">
        <i class="material-icons">Subir Archivo</i>
    </button>
    </div>
    <hr>

    <h5 class="text-center">Listado de Archivo.</h5>
    <hr>
    <div class="form-group">
        <div class="card" *ngFor="let file of fileArray;index as i" #group>
            <div class="card-header" role="tab" id="heading{{i}}">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{file.id}}{{i}}" aria-expanded="true" aria-controls="collapse">
                        <i class="fa fa-angle-double-down" aria-hidden="true"></i> Nombre del archivo: {{file.name}}


                    </a>
                </h5>
            </div>

            <div id="collapse{{file.id}}{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading">
                <div>
                    <a class="btn btn-default" href="{{downloadUrl + file.path}}" target="_blank">
                        <i class="fa fa-download" style="color: #2D6BDC;" aria-hidden="true"></i> Descargar archivo
                    </a>
                    <button class="btn btn-default" (click)="onDelete(file)" type="submit">
                        <i class="fa fa-trash"  style="color: #d43f3a;" aria-hidden="true"></i> Eliminar archivo
                  </button>

                </div>
            </div>
        </div>

    </div>
</div>