<form>
    <tabset>
        <tab title="Informacion de Cliente">
            <span *tabHeading>Informacion de Cliente</span>
            <div class="row col-sm-12">
                <app-registry-m></app-registry-m>
            </div>
        </tab>


        <tab title="Banco">
            <span *tabHeading>Banco</span>
            <div class="row col-sm-12">
                <app-bank-m></app-bank-m>
            </div>
        </tab>

        <tab title="Archivos">
            <span *tabHeading>Archivos</span>
            <div class="row col-sm-12">
                <app-files-m></app-files-m>
            </div>
        </tab>

        <tab title="Accionistas">
            <span *tabHeading>Accionistas</span>
            <div class="row col-sm-12">
                <app-shared-holder-m></app-shared-holder-m>
            </div>
        </tab>

        <tab title="Representantes">
            <span *tabHeading>Representantes</span>
            <div class="row col-sm-12">
                <app-managers-m></app-managers-m>
            </div>
        </tab>



    </tabset>
</form>