<form>
    <tabset>
        <tab title="Informacion de Cliente">
            <span *tabHeading>Informacion de Cliente</span>
            <div>
                <app-registry-m [client]="client" (idRefresher)="refreshId($event)"></app-registry-m>
            </div>
        </tab>


        <tab [disabled]="idClient==null" title="Banco">
            <span *tabHeading>Banco</span>
            <div>
                <app-bank-m></app-bank-m>
            </div>
        </tab>

        <tab [disabled]="idClient==null" title="Archivos">
            <span *tabHeading>Archivos</span>
            <div>
                <app-files-m></app-files-m>
            </div>
        </tab>

        <tab [disabled]="idClient==null" title="Accionistas">
            <span *tabHeading>Accionistas</span>
            <div>
                <app-shared-holder-m></app-shared-holder-m>
            </div>
        </tab>

        <tab [disabled]="idClient==null" title="Representantes">
            <span *tabHeading>Representantes</span>
            <div>
                <app-managers-m></app-managers-m>
            </div>
        </tab>



    </tabset>
</form>