<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                UI Elements
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-people"></i> Cliente</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/cliente/view']"><i class="icon-pencil"></i> Mi Informacion</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="idClient!=null" class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-paper-clip"></i> Solicitudes</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/solicitudes/view']"><i class="icon-eye"></i> Ver Solicitudes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/solicitudes/create']"><i class="icon-plus"></i> Agregar Solicitud</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="idClient!=null" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/creditos/historial']"><i class="icon-eye"></i>Creditos</a>
            </li>

            <li class="nav-item" [hidden]="true">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Charts</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item nav-dropdown" appNavDropdown>
                <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>